apiVersion: 1
datasources:
- name: Loki
  type: loki
  access: proxy
  orgId: 1
  url: 'http://{{ docker_prefix }}-loki:3100'
  basicAuth: false
  isDefault: true
  version: 1
  editable: false
- name: prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: 'http://{{ docker_prefix }}-prometheus:9090'
  basicAuth: false
  isDefault: false
  version: 1
  editable: false
- name: Alertmanager
  type: alertmanager
  url: 'http://{{ docker_prefix }}-alertmanager:9093'
  access: proxy
  jsonData:
    implementation: prometheus
    handleGrafanaManagedAlerts: true
  basicAuth: false